/* .red{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:red;
    gap: 20px;
    height: 100px;
    width: 100px;
    border-radius: 30px;
    
} */
/* body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.figurebi {
  display: flex;
  gap: 50px;
}

.figurebi2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  gap: 20px;
}

.square {
  width: 80px;
  height: 80px;
  border-radius: 0;
  gap: 20px;
}

.round {
  border-radius: 15px;
  gap: 20px;
}


.purple {
  background-color: purple;
}

.yellow {
  background-color: gold;
}

.darkred {
  background-color: darkred;
}

.lightgreen {
  background-color: #bfff00;
}

.blue {
  background-color: steelblue;
}

.brown {
  background-color: peru;
}

.white {
  background-color: white;
}
 */

/* body{
    background-color: black;
}
.main{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.parent1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.parent2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.parent3{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.d1{
    background-color: purple;
    width: 200px;
    height:200px;
    border-radius: 50%;
    
}
.d2{
    background-color: orange;
    width: 200px;
    height:200px;
}
.d3{
    background-color: darkred;
    width: 200px;
    height:200px;
    border-radius: 50%;
}
.d4{
    background-color: lime;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.d5{
    background-color: cadetblue;
    width: 200px;
    height:200px;
    border-radius: 50%;
}
.d6{
    background-color: burlywood;
    width: 200px;
    height:200px;
}
.d7{
    background-color: darkred;
    width: 200px;
    height:200px;
    border-radius: 50%;
}
.d8{
    background-color: orange;
    width: 200px;
    height:200px;
    border-radius: 20%;
}
.d9{
    background-color: white;
    width: 200px;
    height:200px;
} */



/* body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.darkred{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(71, 15, 15);
    gap: 20px;
    height: 100px;
    width: 100px;
    /* border-radius: 30px; */





/* body{
    background-color: black;
}
.main{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.parent1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.parent2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.parent3{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.d1{
    background-color: purple;
    width: 200px;
    height:200px;
    border-radius: 50%;
    
}
.d2{
    background-color: orange;
    width: 200px;
    height:200px;
}
.d3{
    background-color: darkred;
    width: 200px;
    height:200px;
    border-radius: 50%;
}
.d4{
    background-color: lime;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.d5{
    background-color: cadetblue;
    width: 200px;
    height:200px;
    border-radius: 50%;
}
.d6{
    background-color: burlywood;
    width: 200px;
    height:200px;
}
.d7{
    background-color: darkred;
    width: 200px;
    height:200px;
    border-radius: 50%;
}
.d8{
    background-color: orange;
    width: 200px;
    height:200px;
    border-radius: 20%;
}
.d9{
    background-color: white;
    width: 200px;
    height:200px;
  /* \



  body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.parent1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.parent2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.parent3{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.d1{
    background-color: darkred;
    width: 720px;
    height: 300px;
    border-radius: 60px;
}
.d2{
    background-color: orange;
    width: 300px;
    height:300px;
    border-radius: 50%;
}
.d3{
    background-color: yellow;
    width: 400px;
    height:300px;
}
.d4{
    background-color: purple;
    width: 500px;
    height: 200px;
    border-radius: 60px;

}
.d5{
    background-color: grey;
    width: 150px;
    height:150px;
    border-radius: 50%;
}
.Main{
    display: flex;
    gap: 20px;
    flex-direction: column;
}