body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    justify-content: center;
    gap: 50px;


}
.div1{
    background-color: rgb(70, 22, 22);
    width: 200px;
    height: 200px;

    
}


.div2{
    background-color: orange;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.div3{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}



